{template 'header'}
<link rel="stylesheet" rev="stylesheet" href="{SKIN_PATH}css/company.css" type="text/css" />



<div id="main">
	<div class="path">您当前位置：<a href="{DT_PATH}">首页</a> > <a href="{$MOD[linkurl]}">{$MOD[name]}</a></div>



	
	<div class="L660">
	
	
	<div class="cpTitleBar blueL"><h3>公司分类</h3><span class="more"><a href="#">发布产品信息</a></span></div>
	<div class="clear"></div>
	<div class="box-green1 productClass">
    

		<div class="kuang2  blueL" >


		<div class="category">
			<p><img src="{SKIN_PATH}image/arrow.gif" width="17" height="12" alt=""/> <strong>按地区浏览</strong></p>
			<div>
			<table width="100%" cellpadding="3">
			{php $mainarea = get_mainarea(0, $AREA)}
			{loop $mainarea $k $v}
			{if $k%10==0}<tr>{/if}
			<td><a href="{$MOD[linkurl]}{rewrite('search.php?areaid='.$v['areaid'])}">{$v[areaname]}</a></td>
			{if $k%10==9}</tr>{/if}
			{/loop}
			</table>
			</div>
		</div>


			<div class="clear"></div>
		</div>
        
        
        
        
		{load('catalog.css')}
		<div class="catalog c_b" style="border:none;padding:0 15px 0 15px;">
		<div id="catalog">
		<table width="100%" cellspacing="0" cellspacing="0">
		{php $child = get_maincat(0, $CATEGORY, 1);}
		{loop $child $i $c}
		{if $i%2==0}<tr{if $i%4==2} bgcolor="#FFFFED"{/if}>{/if}
		<td valign="top" width="50%" onmouseover="this.style.backgroundColor='#E2F0FB';" onmouseout="this.style.backgroundColor='';">
		<p>
			<a href="{$MOD[linkurl]}{$c[linkurl]}" style="color:#666;padding:0 0 0 8px;background:transparent url({SKIN_PATH}images/timg.gif) no-repeat -956px 4px;font-size:14px;"><strong>{set_style($c[catname], $c[style])}</strong></a> ({$ITEMS[$c[catid]]})
			{if $c[child]}
			{php $sub = get_maincat($c[catid], $CATEGORY, 2);}
			{loop $sub $j $s}{if $j < 5} <a href="{$MOD[linkurl]}{$s[linkurl]}" ><strong>{set_style($s[catname], $s[style])}</strong></a>{/if}{/loop}
			{/if}
		</p>
		{if $c[child]}
		{php $sub = get_maincat($c[catid], $CATEGORY, 1);}
			<ul>
			{loop $sub $j $s}
			<li><a href="{$MOD[linkurl]}{$s[linkurl]}" class="g">{set_style($s[catname], $s[style])}</a></li>
			{/loop}
			</ul>
			<div class="c_b"></div>
		{/if}
		</td>
		{if $i%2==1}</tr>{/if}
		{/loop}
		</table>
		</div>
		</div>
        
        
        
	</div>

	<!--商家分类 end-->
	
		
	</div>
<!--c660 end-->


	<div class="R290">
		<div class="greenTitleBar"><h3>最新{VIP}企业</h3><span class="more"></span></div>
		<div class="box-green1">
			<ul class="newsList blueL">
<!--{tag("moduleid=$moduleid&table=company&condition=vip>0 and catids<>''&pagesize=10&order=fromtime desc&template=list-comn")}-->
			</ul>
		</div>
		<!--最新商家 end-->
		<div class="clear"></div>
		
		
		
		<div class="greenTitleBar"><h3>随机推荐企业</h3><span class="more"></span></div>
		<div class="box-green1">
			<ul class="newsList blueL">
<!--{tag("moduleid=$moduleid&table=company&condition=vip>0 and catids<>''&pagesize=10&order=rand() desc&template=list-comn")}-->			
            </ul>
		</div>
        
 
 
 		<div class="greenTitleBar"><h3>最新加入企业</h3><span class="more"></span></div>
		<div class="box-green1">
			<ul class="newsList blueL">
<!--{tag("moduleid=$moduleid&table=company&condition=groupid>5 and catids<>''&pagesize=10&order=userid desc&template=list-com")}-->
			</ul>
		</div>




		<div class="clear"></div>
		
		<div class="ad">
		
		  广告位置
          
          
          </div>
		
	</div>
<!--c660 end-->
</div>
<div class="clear"></div>
<!--main end-->
{template 'footer'}