@charset "gbk";
/*重置标签默认样式*/
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td { margin:0; padding:0; }
body { color:black; font:12px/1.62 Arial, Helvetica, sans-serif; background:white url(about:blank) fixed; }
a { color:#003e83; text-decoration:none; }
a:hover { color:#f60; text-decoration:underline; }
table { border-collapse:collapse; }
fieldset, img { border:0; }
address, caption, cite, code, dfn, em, th, var { font-style:normal; font-weight:normal; }
li { list-style:none; }
caption, th { text-align:left; }
h1, h2, h3, h4, h5, h6 { font-size:100%; }
abbr, acronym { border:0; font-variant:normal; }
sup { vertical-align:text-top; }
sub { vertical-align:text-bottom; }
input, textarea, select { font-family:inherit; font-size:inherit; font-weight:inherit; }
.un-reset *{ font-size:medium; font-weight:normal; line-height:normal; background:transparent none; border-collapse:collapse; list-style:disc inside none; vertical-align:baseline;}
.un-reset ol li{list-style-type:decimal;}
/*色*/
.c1{color:#000;}
.c2{color:#fff;}
.c3{color:#008000;}
.c4{color:#800000;}
.c5{color:#808000;}
.c6{color:#000080;}
.c7{color:#800080;}
.c8{color:#808080;}
.c9{color:#ff0;}
.c10{color:#0f0;}
.c11{color:#0ff;}
.c12{color:#f0f;}
.c13{color:#f00;}
.c14{color:#00f;}
.c15{color:#008080;}
/*粗体*/
.b{ font-weight:bold;}
.selectpage{
	font-weight: bold;
}
.fl { float:left; }
.fr { float:right; }
.cf, .Oa, .Oab { zoom:1; }
.cf:after, .Oa:after, .Oab:after { display: block; visibility: hidden; clear: both; height: 0; content: "."; }
.T_left { text-align:left; }
.T_center { text-align:center; }
.T_right { text-align:right; }
.diyDiv { display:none; }
.red, a.red, .red a { color:red; }
.black, a.black, .black a { color:black; }
.white, a.white, .white a { color:white; }
.c04a, a.c04a, .c04a a { color:#0246af; }
.c04c, a.c04c, .c04c a { color:#004bce; }
.c05a, a.c05a, .c05a a { color:#0158a7; }
.c333, a.c333, .c333 a { color:#333; }
.c666, a.c666, .c666 a { color:#666; }
.c999, a.c999, .c999 a { color:#999; }
.cc00, a.cc00, .cc00 a { color:#c00; }
.cccc, a.cccc, .cccc a { color:#ccc; }
.cf60, a.cf60, .cf60 a { color:#f60; }
.cf30, a.cf30, .cf30 a { color:#f30; }
.c004, a.c004, .c004 a { color:#0048a2; }
.bg666 { background:#666; }
.f12 { font-size:12px; }
.f13 { font-size:13px; }
.f14 { font-size:14px; }
.f16 { font-size:16px; }
.f18 { font-size:18px; }
.f22 { font-size:22px; }
.f24 { font-size:24px; }
.fsim { font-family:SimSun; }
.fwb { font-weight:bold; }
.fwn { font-weight:normal; }
.w160 { width:160px; }
.w210 { width:210px; }
.w224 { width:224px; }
.w232 { width:232px; }
.w232b { width:230px; border:solid 1px; }
.w234 { width:234px; }
.w235 { width:235px; }
.w240{ width:240px;}
.w260 { width:250px;margin-bottom:8px; }
.w260b { width:258px; border:solid 1px; }
.w280 { width:280px; }
.w290 { width:290px; }
.w300 { width:300px; }
.w302 { width:302px; }
.w320 { width:320px; }
.w320b { width:318px; border:solid 1px; }
.w342 { width:342px; margin-bottom:8px; }
.w364 { width:364px; }
.w392 { width:392px; }
.w410 { width:410px; }
.w413 { width:413px; }
.w430 { width:430px; }
.w632 { width:632px; }
.w632b { width:630px; border:solid 1px; }
.w650 { width:650px; }
.w652 { width:652px; }
.w662 { width:662px; }
.w670{ width:670px;}
.w672 { width:672px; }
.w690 { width:690px; }
.w690b { width:688px; border:solid 1px; }
.w692 { width:692px; }
.w715 { width:715px; }
.w718 { width:718px; }
.hr5, .hr8, .hr10,.hr12, .hr15,.hr20,.hr25 { clear:both; overflow:hidden; }
.hr5 { height:5px; }
.hr8 { height:8px; }
.hr10 { height:10px; }
.hr12{ height:12px;}
.hr15 { height:15px; }
.hr20{ height:20px; }
.hr25 { height:25px; }
/*Overall简写Oa			整体布局*/
.Oa { width:950px; margin:0 auto; }
.Oab { width:958px; margin:0 auto; border:solid 1px; }
.hc { font-size:0; line-height:999; overflow:hidden; }
button.hc span{ visibility:hidden;}

.m-rc{}/*圆角*/
.m-rc .rc-tp,.m-rc .rc-tp b,.m-rc .rc-bt,.m-rc .rc-bt b{position:relative;display:block;overflow:hidden;}
.m-rc .rc-tp b,.m-rc .rc-bt b{float:right;}












a{ color:#333;}
a:hover{ color:#f60;}
.b1c{ border:solid 1px #ccc;}
.b1e0{ border:solid 1px #e0e0e0;}
.bs1b{ border:solid 1px #E2E6EA;}
.bs1f{ border:solid 1px #ffbe69;}
.bs1d{ border:solid 1px #ddd;}
.c004,.c004 a{ color:#004b9b;}
.c0047,.c0047 a{ color:#333333;}
.c04a,.c04a a{ color:#0246af;}
.c04d,.c04d a{ color:#004bcd;}
.c1f3,.c1f3 a{ color:#1f3a87;}
.c2b2,.c2b2 a{ color:#2b2b2b;}
.c553,.c553 a{ color:#5532be;}
.c616,.c616 a{ color:#616161;}
.c616 a:hover{ color:#f60;}
.listc3 li{ background:url("../images/news/n_c_bgX.gif"/*tpa=http://www.jd0001.com/skin/default/images/news/n_c_bgX.gif*/) no-repeat 0 -892px;}
.listbl li{ background:url("../images/news/n_c_bgX.gif"/*tpa=http://www.jd0001.com/skin/default/images/news/n_c_bgX.gif*/) no-repeat 0 -942px;}
.list00 li{ background:url("../images/news/n_p_bgX.gif"/*tpa=http://www.jd0001.com/skin/default/images/news/n_p_bgX.gif*/) no-repeat 0 -192px;}
.listff li,li.listff{background:url("../images/news/n_p_bgX.gif"/*tpa=http://www.jd0001.com/skin/default/images/news/n_p_bgX.gif*/) no-repeat 0 -242px;}
li.listff a{ color:#f30;}
.ml8{ margin-left:8px;}

/*logo*/
.logo{*width:266px; margin:3px 10px 0 26px;}
.logo .line{width:1px;height:23px; margin:5px 8px;background:#666;overflow:hidden;}
.logo .fr{ margin-top:1px;}
.searchinput,.searchinput .fl,.searchinput .fr{ height:36px; background:url("../images/news/n_c_bgX.gif"/*tpa=http://www.jd0001.com/skin/default/images/news/n_c_bgX.gif*/);}
.searchinput{ width:513px; background-position:0 -150px;}
.searchinput .fl,.searchinput .fr{ width:5px; overflow:hidden;}
.searchinput .fl{ background-position:0 -186px;}
.searchinput .fr{ background-position:right -186px;}
.searchinput .c{position:relative; width:503px;}
.searchinput div.text{ position:absolute; top:5px;_top:-32px; left:5px;*left:0;_left:4px; width:400px; height:24px; background:white; border:solid 1px; border-color:#808080 #d9d9d9 #d9d9d9 #808080;}
.searchinput .textinput{  width:322px; padding:4px 3px;border:none;*border:0; *background:none;}
.searchinput .searchby,.hsearch .searchby{ position:absolute; width:67px; height:22px;top:1px; right:1px;background-repeat:no-repeat; background-position:50px -296px;_background-position:50px -295px;}
.searchinput .searchby a,.hsearch .searchby a{ display:block; padding:1px 7px;_padding:3px 7px 2px;}
.searchinput .searchby a:hover,.hsearch .searchby a:hover{ color:#333; text-decoration:none;}
.searchinput ul,.hsearch .text ul{ position:absolute; width:67px; right:-1px;_right:-2px; background:white; border:solid 1px;}
.searchinput ul li,.hsearch .text ul li{_height:21px;_margin-bottom:-3px;}
.searchinput ul a,.hsearch .text ul a{ display:block; padding:1px 7px;color:black;}
.searchinput ul a:hover,.hsearch .text ul a:hover{ text-decoration:none;}
.searchinput .searchbtn{ position:absolute; top:6px; _top:-31px; right:0;width:89px; height:24px; border:none;}
.search .top,.hsearch .top{ margin:8px 0 0 12px; padding-left:8px; background:url("../images/news/n_c_bgX.gif"/*tpa=http://www.jd0001.com/skin/default/images/news/n_c_bgX.gif*/) no-repeat 0 -243px;}
.search .keyword,.hsearch .keyword{ margin-top:4px;}
.search .keyword a,.hsearch .keyword a{ margin:0 3px;}

/*nav		导航*/
.nav,.nav div,.nav li,.nav a{ height:34px;}
.nav{background-position:0 0;}
.nav div{ width:5px;}
.nav .fl{ background-position:0 -34px;}
.nav .fr{ background-position: right -34px;}
.nav li{ float:left; background-position:left -68px;}
.nav li a{display:block;float:left; margin-left:2px;padding:0 16px; line-height:34px;}
.nav li a:hover{ color:white; text-decoration:none;}
.nav li.current{ background:url("../images/news/n_tab_bg.gif"/*tpa=http://www.jd0001.com/skin/default/images/news/n_tab_bg.gif*/);}
.nav li.current a,.nav li.current a:hover{ margin-left:0; padding-left:23px;color:#5532be; background-repeat:no-repeat; background-position:0 -102px;}
.subnav{ padding:4px 7px 2px; border:solid #c3bede; border-width:0 1px 1px;}
.subnav a{ margin-left:28px;}

/*dolist*/
.dolist,.dolist .fl,.dolist .fr{ height:135px; background-position:0 -400px;}
.dolist .fl,.dolist .fr{ width:5px;}
.dolist .fl{ background-position:0 -550px;}
.dolist .fr{ background-position:right -550px;}
.dolist a{ display:block;}
.dolist .l{ width:218px; margin:0 auto; padding-top:1px; overflow:hidden;}
.dolist ul{ width:235px;}
.dolist li{ float:left; margin:8px 8px 0 0; background-position:0 -50px;}
.dolist li a{ float:left;width:102px;  height:32px; padding-right:3px; line-height:32px; text-decoration:none; background:url("../images/news/n_c_bgX.gif"/*tpa=http://www.jd0001.com/skin/default/images/news/n_c_bgX.gif*/) no-repeat;}
.dolist li a:hover{color:#5532be;text-decoration:none;}
.dolist .do1th a{ background-position:6px -691px;}
.dolist .do2th a{ background-position:6px -741px;}
.dolist .do3th a{ background-position:6px -791px;}
.dolist .do4th a{ background-position:6px -841px;}
.dolist .regnow,.dolist .regnow:hover{  height:33px; margin:0 1.5px;color:white;line-height:31px; text-decoration:none; background-position:-100px 0;}

/*topbar		顶部条*/
.topbar{height:22px;line-height:22px;background:#fafafa; border-bottom:solid 1px #ececec;}
.topbar a{ margin:0 6px;*margin-right:8px;}
.topbar .fl{ padding-right:11px;}
.topbar .fl .c333{ color:#333;}
.topbar .fr a:hover{ color:#f60;}
.topbar .fr div.en-ko{ display:inline-table; width:54px; height:22px; overflow:hidden;}
.topbar span{ margin-right:8px;}
.topbar span a{ margin:0;}
.topbar .c553 a:hover{ color:#5532be;}
.topbar dl,.topbar dt{display:inline;}
.topbar .fr dl{ position:relative;_zoom:1;}
.topbar dt{*margin-right:-6px;}
.topbar dl:hover,.topbar dl.hover{*margin-right:-7px;}
.topbar dl:hover dt,.topbar dl.hover dt{position:relative; margin:0 -5px;*margin:0;*left:-5px;padding:3px 4px 4px; padding:2px 4px 6px\9;*padding:4px 3px 3px 4px; background:white; border:solid #ccc; border-width:1px 1px 0; z-index:2;}
.topbar dl:hover dt a,.topbar dl.hover dt a{color:#039;*margin:0 0 0 6px;}
.topbar .fr dl dt a{*margin-right:11px;}
.topbar .fr dl:hover dt,.topbar .fr dl.hover dt{ *padding:2px 3px 4px 4px;}
.topbar .fr dl:hover dt a,.topbar .fr dl.hover dt a{*margin-right:3px;}
.topbar dd{ display:none;position:absolute;*margin:21px 0 0 -74px;line-height:24px; background:#fbf7ff; border:solid 1px #ccc; z-index:1;}
.topbar .fl dd{padding:10px 10px 5px;}
.topbar .fr dd{ width:54px;right:-2px;*right:-69px;_right:4px;padding:0 4px 4px;*padding-right:3px;}
.topbar dl:hover dd,.topbar dl.hover dd{ display:block;}
.topbar dd a{ color:#039;}
.topbar dd a:hover,.topbar dl:hover dt a:hover,.topbar dl.hover dt a:hover{ color:#f60;}

/*friendlink		友情链接*/
.friendlink{ padding:5px;}
.friendlink h3{ margin-top:-3px; padding:0 5px;border-bottom:solid 1px #ccc;}
.friendlink li{ display:inline; float:left; width:100px; margin:0 2px;}
.friendlink .img{margin:10px 0 10px 11px;}
.friendlink .img img{ margin-bottom:10px; vertical-align:middle; border:solid 1px #ccc;}
.friendlink .txt{ margin:0 0 2px 14px;}
.friendlink .txt li{ width:129px; margin-bottom:1px;}

/*footline		底部线*/
.footline{ height:3px; overflow:hidden;}

/*foot		底部链接版权*/
.foot a{ margin:0 8px;}
.foot a:hover,.foot .cf60{ color:#f60;}
.foot p{ margin-bottom:5px;}
.foot p a{ margin:0 10px 0 0;}
.foot img{ margin:0 0 -5px -10px;}

/*listPage*/
.location,.listPage .l,.listPage .page,.articleContent{border:solid #dadada;}
	.location{border-width:1px 1px 0;}
	.location dl{padding:4px 5px; border:solid 2px white;}
	.location dt,.location dd{ display:inline;}
	.location a{ margin:0 8px;}
.listPage .l{ border-width:0 1px;padding:8px 20px 30px; color:#999;}
.listPage .l li.noBg{ margin:15px 0 25px; background:none;border-bottom:dotted 1px #999;}
.listPage .l li{ margin:4px 0;padding:2px 0 0 10px;}
.listPage .l a{ float:left; margin-top:-2px; font-size:14px;}
.listPage .l a.fl{margin-right:8px;}
.listPage .page{ padding-bottom:30px; border-width:0 1px 1px;}

/*page		翻页*/
.page{margin:0 auto;}
.page .prev,.page .next{position:relative\9; width:60px; height:23px; margin:0 6px;_margin:0 3px; top:-3px; *top:3px; color:#004b9b; background:url("../images/news/n_bg.gif"/*tpa=http://www.jd0001.com/skin/default/images/news/n_bg.gif*/); border:none;}
.page .prev{ padding-left:10px;background-position:0 -25px;}
.page .next{padding-right:10px;}
.page a:hover{ text-decoration:none;}
.page ol,.page ol li{display:inline;}
.page ol li{position:relative\9; margin:0 2px;padding:2px 5px;*padding-right:2px; font-size:13px; border:solid 1px #c1d9f4;}
.page ol .current{ color:white; background:#95b8eb; border-color:#8dacee;}
.page ol .current a{ color:white;}

/*Mplist		列表页右边内容*/
.Mplist .h{ height:24px; padding:2px 0 0 8px; font-size:14px; font-weight:bold; background:url("../images/news/n_bgX.gif"/*tpa=http://www.jd0001.com/skin/default/images/news/n_bgX.gif*/) repeat-x;border:solid 1px;}
.Mplist h3.c333{ color:#333;}
.Mplist h3.c333 a{ color:#004b9b;}
.Mplist .c{ border:solid #dadada; border-width:0 1px 1px;}

/*exciting		精彩专题*/
.exciting .c{ padding:8px 7px 6px 15px;}
.exciting li .fr{ width:145px;}
.exciting li img{margin:5px 0;}
.exciting .fr li{margin:3px 0;padding-left:8px;}

/*channel		频道推荐*/
.channel .c,.review .c{ padding:8px 14px 6px 14px;}
.channel li,.review li{ margin:4px 0; padding-left:6px; color:#999; }

/*hotphoto		热点图文*/
.hotphoto .c,.recproduct .c{ padding:15px 10px 8px;}
.hotphoto .img,.recproduct .img{ margin-bottom:2px; padding-bottom:8px; border-bottom:dotted 1px #999;}
.hotphoto .img li,.recproduct .img li{ display:inline; float:left; width:120px; margin:0 9px; }
.hotphoto .l{ margin:0 8px;}
.hotphoto .l li{ margin:5px 0; padding-left:8px; color:#999; }

/*recproduct		产品推荐*/
.recproduct .c{ width:280px; overflow:hidden;}
.recproduct .l{ margin-top:9px;}
.recproduct .l li{ float:left; width:131px;padding:0 0 4px 8px;}
	.reglogin{ width:270px; height:31px; margin:8px auto 12px; background:url("../images/news/n_reglogin.gif"/*tpa=http://www.jd0001.com/skin/default/images/news/n_reglogin.gif*/);}
	.reglogin a{ display:block; width:130px; height:31px; font-size:0; text-indent:-999999px;}
.recproduct .hot{ width:275px; margin:0 0 -5px -7px; padding:3px 5px 3px 10px; line-height:22px;border:solid 1px;}	
.recproduct .hot a{ margin-right:12px;}
.recproduct .hot .cf30{ color:#f30;}

/*articleContent		文章内容*/
.articleContent{ padding:20px 20px 30px;border-width:0 1px 1px;}
.articleContent .top{ color:#333;}
	.top .info{ margin-top:10px; padding:5px 0; border:solid #dadada; border-width:1px 0;}
	.top dl{ margin:16px;}
	.top dl a{margin-right:10px; color:#999;}
	.top dt,.top dd{ display:inline;}
	.articleDetail{ line-height:24px; color:#333;}
	.articleDetail p{ margin:23px 0;}
.detailPage .author{ margin:10px 0 6px;}
.detailPage .prevNext{ margin-bottom:9px;}
.detailPage .related{ margin:8px 0 -16px;}

/*keymore*/
.keymore{ color:#999;}
.keymore .c{ padding:10px 18px;}
.keymore li{ margin:3px 0; padding-left:8px;}
.keymore a{ margin-right:20px; color:#004b9b; font-size:14px;}

/*comments		网友评论*/
.comments .c{ padding:10px 0 20px;}
.comments .c div{ width:580px; margin:0 auto;}
.commentsnum{ position:absolute; margin:-33px 0 0 508px; text-decoration:underline;}
.comments .text{ width:122px; padding:2px; border:solid 1px #ddd;}
.comments textarea { width:579px; height:139px; border:solid 1px #ddd;}
.comments input.btn{ height:23px; padding:0 9px 3px; padding:3px 9px\9;*padding:2px 6px;}
.comments input.fwb{ height:29px; padding:1px 12px 4px; padding:4px 12px 2px\9;*padding:4px 6px 2px;}
.comments .c .userinfo{ margin:0 auto 10px;}
.comments .face{padding:12px 0 10px;}
.comments .face li{ float:left; width:20px; height:20px; margin-right:8px;}
.comments .submit .fl{ margin-top:4px;}

/*hotproduct		热销产品*/
.hotproduct .c{ padding:12px 10px 9px;}
.hotproduct .img{ width:276px;}
.hotproduct .img li{ display:inline; float:left; width:120px; margin:5px 9px;}
.hotproduct .l{ width:338px;}
.hotproduct .l li{ margin:4px 0;padding-left:8px; color:#666;}
.hotproduct .l a{ margin-right:20px;}

.nav li.noBg,.h_nav li.noBg,.news .h li.noBg{ background:none;}

.MnH .h{ height:27px; padding:0 7px; line-height:27px; border:solid #E2E6EA; border-width:0 1px; background:#ddeafe url("../images/news/n_bgX.gif"/*tpa=http://www.jd0001.com/skin/default/images/news/n_bgX.gif*/) repeat-x 0 -100px;}
.MnH .c{border:solid 1px #E2E6EA;}

.MHB{margin-bottom:1px; border-top:solid 1px #d6e7ff;}
.MHB .bg{height:23px;padding:1px 0 1px 7px; background:#e5efff; border-top:solid 1px #f0f6ff;}
.MHB dt,.MHB dd{ display:inline;}
.MHB dd{ color:#78a6e9;}
.MHB dd a{ margin:0 5px;}

.p2b1e{ padding:2px; border:solid 1px #e1e1e1;}

.video_thumb{ position:relative;}
.video_thumb .i{ position:absolute; bottom:5px; left:5px;}

.Mhc .cf{ padding:0 16px 0 10px;}
.Mhc .img{ padding-top:11px; padding-bottom:5px;}
.Mhc h4,.Mhc p{ float:right; width:180px;}
.Mhc p{ line-height:22px;}
.Mhc .red{ color:red;}
.Mhc .l{ margin-bottom:0px;}
.Mhc .l dt,.Mhc .l dd{ padding:1px 0 2px;}
.Mhc .l dt{ float:left;}
.Mhc .l dd{ float:left; width:310px; color:#666; text-align:right;}
.Mhc .l a{ font-size:14px;}
.Mhc .MHB .bg{ padding:3px 0 2px 7px;}
.Mhc .MHB dd a{ margin:0 6px;}

/*hlogo*/
.hlogo{ width:250px; margin-top:23px;}

/*h_subnav*/
.h_subnav dl{ position:relative; left:-1px;}
.h_subnav dt,.h_subnav dd{ float:left;}
.h_subnav dt{width:14px; height:45px;_margin-left:-1px; padding:7px 13px 6px 10px; line-height:15px; background:url("../images/news/n_h_bgX.gif"/*tpa=http://www.jd0001.com/skin/default/images/news/n_h_bgX.gif*/) 4px -150px; border-left:solid 1px #ffbe69;}
.h_subnav dd{ margin-top:10px; color:#999;}
.h_subnav dd a{ margin:0 13px;}

/*.focusplay*/
.focusplay .show{ width:318px; height:201px;white-space:nowrap;overflow:hidden;}
.focusplay .show div{white-space:nowrap;}
.focusplay .l{ padding:0 0 0 0;  }

.focusplay .current img{ padding:2px;border:none;}

/*nhtopc*/
.headline{ margin:1px; padding:8px 0; background:url("../images/news/n_h_bgX.gif"/*tpa=http://www.jd0001.com/skin/default/images/news/n_h_bgX.gif*/) repeat-x 0 -250px;}
.headline p{ padding:0 5px; line-height:22px;}
.nhtopc .l{ height:246px;*height:245px; margin:0 6px; padding:3px 5px 7px; padding-top:4px\9;*padding-top:3px;border-top:dashed 1px #bbb;}
.nhtopc .l a{ font-size:14px;}
.nhtopc .l dt,.nhtopc .l dd{ margin:1px 0;}
.nhtopc .l dt{ float:left;width:75px;}
.nhtopc .l dt a{ color:#0246af;}
.nhtopc .l dt.cf30 a{ color:#f30;}
.nhtopc .l dd{ float:left; width:260px;color:#666; text-align:right; }

/*newspaper		华南城报*/
.newspaper .h{ height:26px;background:url("../images/news/n_h_bgX.gif"/*tpa=http://www.jd0001.com/skin/default/images/news/n_h_bgX.gif*/) 0 -351px; border-bottom:none;}
.newspaper .h h3{position:absolute; width:160px; height:33px; margin:-3px 0 0 -1px; padding:4px 0 0 90px; background:url("../images/news/n_h_paper.gif"/*tpa=http://www.jd0001.com/skin/default/images/news/n_h_paper.gif*/) no-repeat;}
.newspaper .c .fr{ display:inline; width:147px; margin:5px 5px 0 0;}
.newspaper img{ margin:8px 0 0 9px; border:solid 1px #dfdfdf;}
.newspaper .l li{ padding-left:5px;}
.newspaper .date{ width:96px; height:42px; margin:0 auto 8px; padding-top:6px; line-height:100%; background:url("../images/news/n_h_papernum.gif"/*tpa=http://www.jd0001.com/skin/default/images/news/n_h_papernum.gif*/);}
.newspaper .seeback{ margin-top:7px; margin-top:6px\9;*margin-top:1px; line-height:100%;border-top:solid 1px #d6e7ff;}
.newspaper dl{ border:solid; border-width:1px 0; border-color:#eef4ff black #f5f9ff black; padding:7px 0 7px 10px; background:#e5efff;}
.newspaper dt,.newspaper dd{ display:inline;}
.newspaper dd a{ margin-right:6px;}

/*news		华南城动态*/
.news .h,.news .h li{ height:28px; background:url("../images/news/n_h_bgX.gif"/*tpa=http://www.jd0001.com/skin/default/images/news/n_h_bgX.gif*/);}
.news .h{ background-position:0 -350px; border:solid #ddd; border-width:0 1px;}
.news .h li{ float:left; line-height:28px; background-repeat:no-repeat; background-position:0 -377px;}
.news .h li a{display:block; float:left; width:106px; text-decoration:none;}
.news .h li.current{ position:relative; width:106px;}
.news .h li.current a{ position:absolute; width:108px; height:33px; left:-1px; font-weight:bold; background:url("../images/news/n_h_current.gif"/*tpa=http://www.jd0001.com/skin/default/images/news/n_h_current.gif*/);}
.news .c{ padding:2px 15px 1px; border:solid #E2E6EA; border-width:0 1px 1px;}
.news .c ul{ display:none;}
.news .c ul.current{ display:block;}
.news .c li{ margin:3px 0;padding-left:8px;}

/*recspecial		专题推荐*/
.recspecial .c{ height:101px;*height:99px; padding:10px 9px 7px;}
.recspecial .c .fr{ width:207px;}
.recspecial .c li{ margin:4px 0;padding-left:8px;}

/*interview		人物访谈*/
.interview .c,.manager .c{ padding:11px 0 8px 8px;}
.interview .c666 .red,.manager .c666 .red{ color:red;}
.interview h5,.interview p,.manager h5,.manager p{ width:134px;}
.interview .l{ margin-top:9px;*margin-top:6px;}
.interview .l li,.manager .l li{ margin:2px 6px;padding-left:8px;}
.manager .l li{ margin:4px 6px;}

/*manager			经理人*/
.manager .c{*padding-bottom:5px;}
.manager .l{ height:148px;*height:150px;}
.managers{ width:244px; margin:0 0 -3px -3px;*margin-bottom:0; padding:1px; background:#f8f3ff; border:solid 1px #d6e7ff;}
.managers div{ color:#78a6e9;}
.managers .red{ color:red;}
.managers a{ margin:0 6px;}
.managers div{ padding:5px 0; line-height:22px; background:#e6f0ff;}

/*h_video*/
.h_video{ padding-top:8px;}
.h_video h5,.h_video p{ float:right; width:160px;}
.h_video h5 a{ color:#333333;font-weight:normal;}
.h_video #container{ width:240px; height:200px; margin:0px auto;}
.h_video .video_thumb{ height:55px;}
.h_video .video_thumb .c{padding:1px;border:solid 1px #e0e0e0;}
.h_video .l{ margin:0 8px;}
.h_video .l li{ margin:7px 0;}

/*imgshow		图片*/
.imgshow li{ display:inline;float:left; margin:6px 12px 5px;}
.imgshow .c{ padding:10px 0 10px 5px;}

/*job		招聘*/
.job .c,.chem .c,.h_comments .c{ padding:2px 13px;}
.job .c li,.chem .c li,.h_comments .c li{ padding-left:8px;margin:6px 0;}
.job .c{ height:224px;*height:243px;_height:223px;}
.job .c li{ margin:4px 0;}
.job .c li a.black{ margin-right:8px;}
.chem .c li{ margin:5px 0;}
.chem .c{ height:302px;*height:304px;}
.h_comments .c{ height:299px;*height:293px;}
.h_comments .c li{ height:18px;*height:15px;*margin:5px 0;_margin:2px 0;}

.footline{ background:#2391e0;}

/*linkDescription		链接说明*/
.linkDescription { width:959px; border:solid 1px #ddd; color:#141414; margin:0 auto; }
.linkDescription textarea { width:268px; height:51px; }
.linkDescription div.fl { display:inline; width:444px; height:230px; margin:10px 0 10px 30px; padding:10px 30px 10px 0; background:url("../images/news/line.gif"/*tpa=http://www.jd0001.com/skin/default/images/news/line.gif*/) no-repeat right; line-height:21px; text-align:left; }
.linkDescription div.fl img { position:absolute; margin:10px 0 0 -10px; border:solid 1px #c4c4c4; }
.linkDescription div.fr { display:inline;  width:400px; margin:20px 24px 0 0; text-align:left; }
.linkDescription div.fr img { margin:0 5px -5px 0; }
.linkDescription div.fr p { margin:8px 0 12px; line-height:18px; }

/*linkC		链接列表*/
.linkC { width:959px; margin:14px auto; border:solid 1px #ff7e00; }
.linkC h2 { padding:5px 0 5px 10px; color:#000; background:url("../images/news/linkBg.gif"/*tpa=http://www.jd0001.com/skin/default/images/news/linkBg.gif*/) repeat-x 0 bottom; border-top:solid 2px #ff7e00; font-family:sans-serif; font-size:13px; text-align:left; }
.linkC .content { margin:15px 0 15px 4px; }
.linkC li { display:inline; float:left; margin-left:14px; white-space:nowrap; }
.linkC img { width:88px; height:31px; border:solid 1px #ccc; }
.linkC a { color:#333; }
.linkC a:hover { color:#f60; }
.linkC .img{width:950px;}
.linkC .txt{ padding-top:10px;line-height:23px}
#navmenu strong{ font-size:14px;}
