<script type="text/javascript">
var user_auth = get_cookie('auth');
</script>
<script type="text/javascript">document.write(user_auth ? '<div>' : '<div style="display:none;">');</script>
<li class="lse whiteL"><a href="{DT_PATH}member/">商务中心</a><img src="{SKIN_PATH}images/free_b.gif" /></li>
<li><a href="{DT_PATH}member/my.php?mid=6&action=add">发布求购</a></li>
<li><a href="{DT_PATH}member/my.php">发布信息</a></li>
<li><a href="{DT_PATH}spread/">企业推广</a><img src="{SKIN_PATH}images/vip_b.gif" /></li>
<li><a href="{DT_PATH}member/home.php">管理网站</a></li>
<li><a href="{DT_PATH}member/home.php">企业网站</a></li>
</div>
<script type="text/javascript">document.write(user_auth ? '<div style="display:none;">' : '<div>');</script>
<li class="lse whiteL"><a href="{DT_PATH}member/register.php">免费注册</a><img src="{SKIN_PATH}images/free_b.gif" /></li>
<li><a href="{DT_PATH}member/login.php">会员登录</a></li>
<li><a href="{DT_PATH}member/my.php">发布信息</a></li>
<li><a href="{DT_PATH}spread/">企业推广</a><img src="{SKIN_PATH}images/vip_b.gif" /></li>
<li><a href="{DT_PATH}member/home.php">管理网站</a></li>
<li><a href="{DT_PATH}member/home.php">企业网站</a></li>
</div>