{template 'header'}
<link rel="stylesheet" rev="stylesheet" href="{SKIN_PATH}css/news.css" type="text/css" />
<div id="main">
	<div class="path">您当前位置：<a href="{DT_PATH}">首页</a> > <a href="{$MOD[linkurl]}">{$MOD[name]}</a> > <a href="{$MOD[linkurl]}search.php">搜索</a></div>
	<!--左边信息-->
	<div class="left660" style="margin-top:10px;">
		<div class="box-gray1">
			<div class="news_listTitleBar">
			<h3>搜索列表</h3></div>
			<div class="news_list">
			<form action="{$MOD[linkurl]}search.php" id="fsearch">
			<table cellpadding="3" cellspacing="3">
			<tr>
			<td width="80" align="right">关 键 词：</td>
			<td><input type="text" size="60" name="kw" value="{$kw}" class="pd3"/></td>
			</tr>
			<tr>
			<td align="right">所属分类：</td>
			<td>
			{$category_select}
			</td>
			</tr>
			<tr>
			<td></td>
			<td>
			<input type="image" src="{SKIN_PATH}image/btn_search.gif"/>&nbsp;&nbsp;
			<a href="{$MOD[linkurl]}search.php"><img src="{SKIN_PATH}image/btn_reset_search.gif"/></a>	
			</td>
			</tr>
			</table>
			</form>
		{if $tags}
		<div class="catlist">
		{template 'list-cat', 'tag'}
		</div>
		{else}
		{template 'noresult', 'message'}
		{/if}
			</div>
		</div>
	</div>
	<!--右边信息-->
	<div class="right290">
	{if $kw}
		<div class="gTitleBar"><h3>相关搜索</h3><span class="more blackL"></span></div>
		<div class="box-gray">

		<div class="sch_site" style="padding-left:20px;">
			<ul>
			{loop $MODULE $mod}{if $mod[moduleid]>3 && $mod[moduleid]!=$moduleid && !$mod[islink]}<li><a href="{$mod[linkurl]}{rewrite('search.php?kw='.urlencode($kw))}">在 <span class="f_red">{$mod[name]}</span> 找 {$kw}</a></li>{/if}{/loop}
			</ul>
		</div>
		<!--{tag("moduleid=$moduleid&table=keyword&condition=moduleid=$moduleid and status=3 and word!='$kw' and keyword like '%$keyword%'&pagesize=10&order=total_search desc&template=list-search_relate", -2)}-->

			<div class="clear"></div>
		</div>
	{/if}
 		<div class="gTitleBar"><h3>今日搜索排行</h3><span class="more blackL"></span></div>
		<div class="box-gray">
			<ul class="newsList" style="padding-right:10px">
			<!--{tag("moduleid=$moduleid&table=keyword&condition=moduleid=$moduleid and status=3 and updatetime>$today_endtime-86400&pagesize=10&order=today_search desc&key=today_search&template=list-search_rank", -2)}-->
			</ul>
			<div class="clear"></div>
		</div>
		<div class="gTitleBar"><h3>本周搜索排行</h3><span class="more blackL"></span></div>
		<div class="box-gray">
			<ul class="newsList" style="padding-right:10px">
			<!--{tag("moduleid=$moduleid&table=keyword&condition=moduleid=$moduleid and status=3 and updatetime>$today_endtime-86400*7&pagesize=10&order=week_search desc&key=week_search&template=list-search_rank", -2)}-->
			</ul>
			<div class="clear"></div>
		</div>
	<div class="ad"><img src="{SKIN_PATH}images/ad/ad260.jpg" width="290" height="138" border="0" title="广告位" /></div>
		<div class="gTitleBar"><h3>本月搜索排行</h3><span class="more blackL"></span></div>
		<div class="box-gray">
			<ul class="newsList" style="padding-right:10px">
			<!--{tag("moduleid=$moduleid&table=keyword&condition=moduleid=$moduleid and status=3 and updatetime>$today_endtime-86400*30&pagesize=10&order=month_search desc&key=month_search&template=list-search_rank", -2)}-->
            </ul>
			<div class="clear"></div>
		</div>
	</div>
</div>
<div class="clear"></div>
<!--main end-->
{template 'footer'}