@charset "gbk";

.class-name-btn strong {
	float: left;
	height: 22px;
	line-height: 22px;
	margin-left: 10px;
	padding-left: 26px;
	background: url("../images/ico-27.png")
		no-repeat left 3px;
}

.class-name {
	height: auto;
	overflow: hidden;
	padding: 10px 0;
	padding-left: 140px;
	width: 600px;
}

.class-name-ele,.class-name-btn {
	height: auto;
	margin-bottom: -900px;
	padding-bottom: 900px;
}

.class-name-btn {
	_display: inline;
	float: left;
	width: 140px;
	margin-left: -140px;
}

.class-name-btn a {
	background: url("../images/offerbg.png")
		no-repeat -130px 0;
	height: 23px;
	width: 81px;
	text-indent: -999px;
	overflow: hidden;
	float: left;
	margin-left: 30px;
	margin-top: 3px;
	display: inline;
}

.class-name-btn a.class-name-btn1 {
	background: url("../images/offerbg.png")
		no-repeat left -307px;
}

.class-name-ele {
	float: right;
	width: 100%;
}

.class-name-item {
	float: left;
	width: 100%;
}

.class-name-item li {
	float: left;
	margin-left: 30px;
	height: 26px;
	line-height: 26px;
	width: 116px;
	overflow: hidden;
	display: inline;
}

.class-name-item li.spanhidden {
	display: none
}