/*** tool-bar.css* 阿里巴巴头部(toolbar)样式** by leijun.wulj@alibaba-inc.com* 20100624*/
#header h1,#header h2,#header p,#header dl,#header dt,#header dd,#header ul,#header li,#header fieldset,#header lengend,#header button,#header input,#header form
	{
	margin: 0;
	padding: 0
}

#header,#header button,#header input {
	font: 12px/1 Tahoma, Helvetica Arial, "\5b8b\4f53", sans-serif
}

#header h1,#header h2 {
	font-size: 100%;
	font-weight: normal
}

#header ul {
	list-style: none
}

#header legend {
	color: #000
}

#header fieldset,#header img {
	border: none
}

#header button,#header input {
	font-size: 100%
}

#header {
	position: relative;
	color: #333;
	z-index: 200
}

#header a:link,#header a:visited {
	color: #333;
	text-decoration: none
}

#header a:hover {
	color: #FF7300;
	text-decoration: underline
}

#header .hide {
	display: none
}

#top-nav .top-cont {
	width: 952px;
	margin: 0 auto
}

#header .float-clr {
	zoom: 1
}

#header .float-clr:after {
	content: "\0020";
	display: block;
	height: 0;
	clear: both
}

#top-nav,#top-nav .cur .trigger-base,.nav-trigger .trigger-base a,#top-nav .trigger-down .trigger-bottom,#top-nav .quick-link li,#top-nav .cur .trigger-down,#top-nav .trigger-down dt,#top-nav .cxt-phone,#top-nav .cxt-fill,#top-nav .cxt-promotion,#top-seller a
	{
	background-image: url("../images/tool-bar.gif");
	background-repeat: no-repeat
}

#top-nav .cxt-phone {
	padding-left: 20px !important;
	background-position: 0 -60px
}

#top-nav .cxt-fill {
	padding-left: 20px !important;
	background-position: 0 -90px
}

#top-nav .cxt-promotion {
	padding-left: 20px !important;
	background-position: 0 -120px
}

#top-nav {
	position: relative;
	height: 26px;
	background-color: #F5F5F5;
	line-height: 26px;
	background-repeat: repeat-x;
	color: #666;
	font-family: "\5B8B\4F53";
	z-index: 203
}

#top-nav a:link,#top-nav a:visited {
	color: #666;
	text-decoration: none
}

#top-nav a:hover {
	color: #FF7300;
	text-decoration: none
}

#top-nav .user-login {
	float: left;
	padding-left: 8px
}

#top-nav .user-login a:link,#top-nav .user-login a:visited {
	color: #06C
}

#top-nav .user-login a:hover {
	color: #FF7300
}

#top-nav .quick-link {
	float: right;
}

#top-nav .quick-link li {
	float: left;
	height: 24px;
	margin-top: 2px;
	background-position: right -400px;
	line-height: 21px
}

#top-nav .quick-link li a {
	padding: 0 12px 0 8px
}

#top-nav .quick-link li.last {
	background: none
}

#top-nav .quick-link li#top-seller {
	background: none
}

#top-nav .quick-link li#top-seller a {
	display: block;
	width: 75px;
	height: 20px;
	line-height: 20px;
	padding: 0 0;
	text-align: center;
	background-position: 0 -30px
}

#top-nav .nav-trigger {
	position: relative;
	z-index: 1001
}

#top-nav .nav-trigger .trigger-base {
	float: left;
	height: 24px;
}

#top-nav .nav-trigger .trigger-base a {
	float: left;
	padding-right: 22px;
	background-position: right -370px
}

#top-nav .nav-trigger .trigger-down {
	position: absolute;
	display: none;
	width: 126px;
	top: 23px;
	left: 0;
	background-color: #FFF;
	background-position: right -30px
}

#top-nav .nav-trigger .trigger-down li {
	float: none;
	height: auto;
	margin-top: 0;
	background-position: 9999px 9999px;
	padding-left: 8px;
	border-left: 1px solid #BFBFBF
}

#top-nav .nav-trigger .trigger-down li a {
	line-height: 26px;
	padding: 0 0
}

#top-nav .cur .trigger-base {
	position: relative;
	background-position: 0 -340px;
	z-index: 1002
}

#top-nav .cur .trigger-base a {
	padding: 0 22px 0 8px;
	height: 24px;
	background-position: right -340px
}

#top-nav .cur .trigger-down {
	display: block
}

#top-nav .top-guide-title {
	color: #666
}

#top-nav #top-cxt.cur .trigger-down {
	width: 126px
}

#top-nav #top-myali.cur .trigger-down {
	width: 96px
}

#top-nav #top-guide.cur .trigger-down {
	width: 228px
}

#top-nav .nav-trigger .trigger-down .trigger-bottom {
	height: 2px;
	background-position: right -330px;
	font-size: 0;
	line-height: 0;
	border-left: 0 none;
}

#top-nav .trigger-down dl {
	padding-right: 5px;
	overflow: hidden
}

#top-nav .trigger-down dt {
	margin: 8px 8px 0 0;
	font-weight: bold;
	color: #666;
	background-position: 0 -390px
}

#top-nav .trigger-down dt strong {
	background-color: #FFF;
	padding-right: 4px
}

#top-nav .trigger-down dd {
	vertical-align: bottom
}

#top-nav .trigger-down dd {
	float: left;
	margin-right: 8px;
	white-space: nowrap
}

#top-nav .nav-trigger .all-service {
	display: block;
	height: 30px;
	margin-right: 2px;
	background-color: #E5E5E5;
	font-family: "\5B8B\4F53";
	line-height: 30px
}

#top-nav .nav-trigger fieldset {
	margin: 0 13px 0 -8px;
	border-top: 1px solid #E5E5E5
}

#top-nav .nav-trigger legend {
	*margin-left: -7px;
	padding: 0 4px 0 8px;
	font-weight: bold
}

#top-nav .nav-trigger fieldset div a {
	float: left;
	display: inline;
	margin-left: 8px;
	white-space: nowrap
}

#header a.iconAlitalk:hover {
	float: none;
	color: #FF7300
}

#header a.icon-on {
	float: none;
	background-position: -190px -61px
}

#header a.icon-off {
	float: none;
	background-position: -190px -29px
}

#header a.icon-mb {
	float: none;
	background-position: -190px 1px
}

/*** ali-header1.css* 阿里巴巴头部(header)样式** by leijun.wulj@alibaba-inc.com* 20100624*/
#logo-search,#main-nav,#top-gg,#advanced-nav {
	width: 952px;
	margin: 0 auto
}

#logo a,.market #logo,#search-box,#search-nav .current,#search-nav .current a,#main-nav,#nav-list,.nav-right,.nav-rb,#nav-list li,#nav-list .current a,#more-trigger .trigger-base a,#main-nav .new-icon,#main-nav .hot-icon,#advanced-nav .advanced-cont,#s-more.cur .trigger-down,#s-more .trigger-down .trigger-bottom,#s-more .trigger-base a
	{
	background-image: url("../images/public-head.gif");
	background-repeat: no-repeat
}

#header.homepage .trigger-down .more-bottom,#header.homepage #more-trigger.cur .trigger-base,#header.homepage #more-trigger.cur .trigger-down
	{
	background-image: url("../images/homepage-head.gif");
	background-repeat: no-repeat
}

#header.market .trigger-down .more-bottom,#header.market #more-trigger.cur .trigger-base,#header.market #more-trigger.cur .trigger-down
	{
	background-image: url("../images/market-head.gif");
	background-repeat: no-repeat
}

#header.community .trigger-down .more-bottom,#header.community #more-trigger .trigger-base,#header.community #more-trigger.cur .trigger-down,#advanced-nav,#advanced-nav .current,#advanced-nav .current a,#advanced-nav.biznew dt
	{
	background-image: url("../images/community-head.gif");
	background-repeat: no-repeat
}

#main-nav {
	position: relative;
	height: 32px;
	background-repeat: repeat-x;
	font: bold 14px/35px "\5B8B\4F53"
}

#main-nav .nav-right {
	float: right;
	height: 32px;
	width: 2px;
	background-position: 0 -40px
}

#main-nav .nav-rb {
	float: right;
	height: 32px;
	width: 2px;
	margin: 0;
	background-position: 0 -40px;
	font-size: 0;
	line-height: 0
}

#nav-list a:link,#nav-list a:visited,#nav-list a:hover {
	color: #FFF6E7
}

#main-nav #nav-list {
	height: 32px;
	background-position: -459px -40px;
	padding-left: 1px
}

#nav-list li {
	float: left;
	height: 27px;
	margin: 5px 0 0;
	background-position: right -320px;
	line-height: 25px
}

#nav-list li.last {
	background-image: none
}

#nav-list li a {
	float: left;
	height: 27px;
	padding: 0 12px
}

#nav-list .current {
	background-position: 0 -80px;
	margin-left: -2px;
}

#nav-list .current a {
	background-position: right -80px;
	padding: 0 13px;
	color: #FF7800 !important
}

#nav-list li.right {
	float: right;
	background: none;
	font-weight: normal
}

#nav-list .w3 a,#nav-list .w4 a {
	padding: 0 0;
	text-align: center
}

#nav-list .w3 a {
	width: 72px
}

#nav-list .w4 a {
	width: 82px
}

#nav-list #more-trigger {
	display: block;
	background: none;
	position: relative;
	z-index: 999
}

#more-trigger .trigger-base {
	position: relative;
	display: block;
	height: 27px;
	margin-right: -2px;
}

#more-trigger .trigger-base a {
	float: none;
	display: block;
	padding: 0 16px 0 0;
	background-position: right -370px;
	text-align: center;
	text-decoration: none !important
}

#more-trigger .trigger-down {
	display: none;
	position: absolute;
	padding: 3px 0 0 0;
	top: 25px;
	left: 0;
	background-position: 0 -100px;
	font-size: 12px
}

#more-trigger .trigger-down a {
	float: none;
	display: block;
	width: 58px;
	height: 27px;
	margin: 1px 0;
	padding: 0 0 0 8px;
	line-height: 27px;
	overflow: hidden
}

#more-trigger .trigger-down a:link,#more-trigger .trigger-down a:visited
	{
	color: #666
}

#more-trigger .trigger-down a:hover {
	background-color: #FFF4CC;
	color: #FF7300
}

#more-trigger.cur .trigger-base {
	position: relative;
	width: 73px;
	height: 27px;
	background-position: 0 -10px;
	z-index: 1000
}

#more-trigger.cur .trigger-down {
	display: block
}

#more-trigger .trigger-down li {
	float: none;
	display: block;
	height: 29px;
	margin: 0 4px;
	background: none;
	border-bottom: 1px dotted #EBEBEB;
	overflow: hidden
}

#more-trigger .trigger-down .more-bottom {
	clear: both;
	width: 100%;
	height: 4px;
	margin: -2px 0 0;
	background-color: #FFF;
	background-position: 0 0;
	border-bottom: 0 none;
	font-size: 0;
	line-height: 0
}

.homepage #more-trigger .trigger-base {
	width: 73px
}

.homepage #more-trigger .trigger-down {
	width: 154px;
	left: -81px;
}

.homepage #more-trigger .trigger-down li {
	float: left;
	display: inline;
	height: 30px;
	margin: 0 0 0 9px;
	border-bottom: 0 none
}

.homepage #more-trigger .trigger-down a {
	float: left;
	height: 30px;
	margin: 0 0;
	line-height: 30px
}

.homepage #more-trigger .trigger-down .more-bottom {
	height: 8px;
	margin-left: 0
}

.market #more-trigger .trigger-base {
	width: 116px;
	font-size: 12px
}

.market #more-trigger .trigger-down {
	width: 116px
}

.market #more-trigger .trigger-down a {
	width: 99px;
	_width: 91px;
	padding: 0 0 0 17px
}

.community #more-trigger {
	height: 30px;
	margin: 1px 4px 0 0;
	line-height: 30px
}

.community #more-trigger .trigger-base {
	width: 138px;
	height: 30px;
	margin-right: 0;
	background-position: 0 -10px;
	z-index: 999
}

.community #more-trigger .trigger-base a {
	background: none
}

.community #more-trigger .trigger-down {
	width: 138px;
	top: 28px;
	left: -1px;
	font-size: 14px;
	font-weight: normal;
	z-index: 1000
}

.community #more-trigger .trigger-down a {
	width: 125px;
	_width: 117px;
	padding: 0 0 0 14px
}

#nav-list li.rnav {
	float: right;
	background: none;
	font-weight: normal
}

#main-nav .new-icon {
	background-position: right -290px;
	margin-right: 5px
}

#main-nav .hot-icon {
	background-position: right -260px;
	margin-right: 5px
}

#advanced-nav {
	height: 35px;
	background-position: 0 bottom;
	background-repeat: repeat-x
}

#advanced-nav .nav-right {
	float: right;
	height: 35px;
	width: 3px;
	background-position: 0 bottom
}

#advanced-nav .advanced-cont {
	height: 35px;
	padding-left: 5px;
	background-position: -458px bottom
}

#advanced-nav li {
	float: left;
	height: 20px;
	margin-top: 7px
}

#advanced-nav li.subnav-right {
	float: right;
	font-size: 12px;
}

#advanced-nav li.subnav-right a {
	padding: 0 4px;
}

#advanced-nav .nav-rb {
	float: right;
	height: 35px;
	width: 3px;
	margin: 0;
	background-position: 0 bottom;
	font-size: 0;
	line-height: 0
}

#advanced-nav a {
	float: left;
	height: 20px;
	padding: 0 12px;
	line-height: 20px
}

#advanced-nav .current {
	background-position: 0 -80px
}

#advanced-nav .current a {
	background-position: right -60px;
	text-decoration: none !important
}

#advanced-nav.biznew {
	height: 81px
}

#advanced-nav.biznew .nav-right {
	height: 81px
}

#advanced-nav.biznew .advanced-cont {
	height: 81px;
	padding-left: 0
}

#advanced-nav.biznew dt {
	float: left;
	padding: 26px 4px 0 8px;
	width: 22px;
	height: 55px;
	background-position: 0 -450px;
	font-weight: bold
}

#advanced-nav.biznew dd {
	float: left;
	display: inline;
	margin: 6px 0 0 -11px;
	font-family: "\5B8B\4F53"
}

#advanced-nav.biznew dd a {
	float: left;
	display: inline;
	padding: 0 0;
	margin: 0 12px;
	height: 22px;
	line-height: 22px;
	background: none
}

#advanced-nav.biznew .nav-rb {
	float: right;
	height: 81px;
	margin: 0
}

#advanced-nav.biznew .nav-cont1 {
	width: 444px
}

#advanced-nav.biznew .nav-cont2 {
	width: 240px
}

#advanced-nav.biznew .nav-cont3 {
	width: 192px
}

/*********** 样式沿用 ***********/
#header .logo-search {
	height: 81px;
	padding-top: 15px;
	position: relative;
	z-index: 200
}

#header #logo {
	width: 250px;
	float: left;
	margin-top: 8px;
	padding-left: 6px
}

#header #logo-active {
	position: absolute;
	top: 0;
	left: 0px;
	width: 300px;
	height: 100px;
	overflow: hidden
}

#header #logo a {
/*	float: left;*/
	width: 280px;
	height: 55px;
/*	background-position: 0 -260px;*/
	text-indent: -9999px
}

#header #yplan {
	position: absolute;
	width: 142px;
	height: 64px;
	top: 4px;
	right: 35px
}

#header #yplan a {
	display: block;
	width: 142px;
	height: 64px;
	background: url("../images/yunplan2.jpg") no-repeat;
	text-indent: -9999px
}

#header.market #logo {
	background-position: 149px -330px
}

#header.market #logo a {
	background-position: 9999px 9999px
}

#header.market #logo .ali-logo {
	float: left;
	width: 131px;
	height: 55px;
	margin-right: 18px;
	background-position: -151px -260px
}

#header.market #logo .cloth-logo {
	float: left;
	width: 144px;
	height: 55px;
	background: url("../images/cloth-logo.gif") no-repeat
}

#header.community #logo {
/*	margin-top: 18px*/
}

#header.community #logo a {
	background-position: 9999px 9999px
}

#header.community #logo .ali-logo {
	float: left;
	width: 131px;
	height: 42px;
	margin-right: 6px;
	background: url("../images/logo.png") no-repeat
}

#header.community #logo .cmu-logo {
	float: left;
	width: auto;
	height: auto;
	margin-top: 10px;
	color: #666 !important;
	text-decoration: none !important;
	font: bold 26px/1.2 "\5fae\8f6f\96c5\9ed1", "\9ED1\4F53";
	text-indent: 0
}

#header #search-bar {
	margin: 0 0 0 255px;
	height: 75px;
	position: relative;
	z-index: 201
}

#header #search-nav {
	position: absolute;
	height: 29px;
	top: 0;
	left: 0;
	z-index: 202
}

#header #search-nav li {
	float: left;
	display: inline;
	height: 30px;
	line-height: 30px
}

#header #search-nav .w2 {
	width: 50px
}

#header #search-nav .w3 {
	width: 65px
}

#header #search-nav .w4 {
	width: 80px
}

#search-nav li.current {
	background-position: 0 -230px
}

#search-nav li a {
	display: block;
	padding: 0 10px;
	height: 30px
}

#search-nav li a:link,#search-nav li a:visited {
	color: #06C
}

#search-nav li a:hover {
	color: #FF7300
}

#search-nav li.current a {
	background-position: right -230px
}

#search-nav li.current a:link,#search-nav li.current a:visited,#search-nav li.current a:hover
	{
	color: #333;
	font-weight: bold;
	font-size: 14px
}

#header #search-bar legend {
	display: none
}

#header #search-box {
	position: absolute;
	width: 461px;
	height: 43px;
	top: 28px;
	left: 0;
	background-position: 0 -120px;
	z-index: 201
}

#header #destoon_kw {
	width: 360px;
	height: 24px;
	line-height: 24px;
	margin: 10px 0 0 8px;
	border: 0;
	font-size: 14px
}

#header #destoon_kw,x:-moz-any-link,x:default {
	height: 22px;
	*height: 24px
}

#header #destoon_kw.gray {
	color: #CCC
}

#header #search-submit {
	width: 84px;
	height: 32px;
	border: none;
	margin: 1px 0 0 0;
	*margin: 0 0 -1px 3px;
	*padding-top: 4px;
	background: transparent;
	cursor: pointer;
	font-size: 14px;
	font-weight: bold;
	color: #954200;
	text-shadow: #FFEC98 0 1px 0
}

#header .search-tip {
	position: absolute;
	left: 454px;
	top: 35px;
	width: 172px;
	height: 18px;
	line-height: 18px;
	color: #999;
	overflow: hidden
}

#header .search-tip a:link,#header .search-tip a:visited {
	color: #999
}

#header .search-tip a:hover {
	color: #ff7300
}

#header .baike-search #search-box {
	background-position: 0 -170px
}

#header .baike-search #foot_kw {
	width: 294px
}

#header .baike-search #search-submit {
	width: 73px
}

#header .baike-search #baike-ask {
	width: 73px;
	height: 32px;
	border: none;
	margin: 1px 0 0 0;
	*margin: 0 0 -1px 3px;
	*padding-top: 4px;
	background: transparent;
	cursor: pointer;
	font-size: 14px;
	font-weight: bold;
	color: #954200;
	text-shadow: #FFEC98 0 1px 0
}

#s-more {
	display: block;
	background: none;
	position: relative;
	z-index: 999
}

#s-more .trigger-base {
	float: left;
	position: relative
}

#s-more .trigger-base a {
	float: left;
	padding-right: 8px;
	background-position: right -407px;
	background-position: right -408px\9;
	_background-position: right -407px;
	color: #666 !important;
	text-decoration: none !important
}

#s-more .trigger-down {
	display: none;
	position: absolute;
	width: 52px;
	top: 25px;
	left: 0;
	background-position: -160px -420px
}

#header #s-more .trigger-down li {
	float: none;
	display: block;
	height: 22px;
	margin: 0;
	line-height: 22px
}

#s-more .trigger-down a {
	float: left;
	display: inline;
	height: 22px;
	padding: 0;
	margin: 0 0 0 12px;
	line-height: 22px;
	overflow: hidden
}

#s-more.cur .trigger-down {
	display: block
}

#header #s-more .trigger-down .trigger-bottom {
	clear: both;
	width: 100%;
	height: 4px;
	background-color: #FFF;
	background-position: -220px -424px;
	border-bottom: 0 none;
	font-size: 0;
	line-height: 0
}

#top-gg {
	position: relative;
	height: 32px;
	text-align: center;
	overflow: hidden
}

#close-top-gg {
	background: url("../images/background1.png") no-repeat;
	width: 17px;
	height: 17px;
	overflow: hidden;
	text-indent: -2000px;
	background-position: -160px -575px;
	position: absolute;
	z-index: 200;
	top: 0;
	right: 0;
	display: none;
	cursor: pointer
}

#f-autocomplete-result {
	overflow: hidden;
	border: 1px solid #D5D6D7;
	background: #FFF;
	zoom: 1;
	z-index: 100;
}

.part10 {
	border: 1px solid #D8D8D8;
	line-height: 20px;
}

.part10 .grid-24 {
	width: 952px;
}

.part10 .p-list {
	margin: 12px;
	word-wrap: break-word;
	word-break: break-all;
	overflow: hidden
}

.part10 .lp {
	float: left;
	width: 180px;
	font-weight: bold;
	color: #F93400;
}

.part10 .rp {
	clear: ;
	float: left;
	width: 908px;
	padding-top: 3px
}

.part10 .rp a {
	float: left;
	line-height: 14px;
	border-right: 1px solid #666;
	padding-right: 8px;
	margin: 0 8px 6px 0;
	white-space: nowrap;
}

.layout-p32a24 {
	width: 952px;
	margin: 0 auto 8px auto;
	font-family: 宋体
}

.clr {
	clear: both
}

a {
	color: #595959;
}

.layout-p32a24 div,.layout-p32a24 td {
	line-height: 18px;
}

layout-p32a24,.layout-p24a30 {
	zoom: 1;
}

.layout-p32a24:after,.layout-p24a30:after {
	content: "\0020";
	display: block;
	height: 0;
	clear: both;
}

.grid-fixed {
	margin-right: 0 !important;
}

.layout-p32a24,.layout-p24a30 {
	margin-bottom: 8px;
}

.layout-p32a24 .grid-24 {
	float: left;
	width: 952px;
}

/*** @author:aliued-wd junbiao.zhujb*/
.footerBox img {
	padding: 0px;
}

.footerBox {
	clear: both;
	width: 99%;
	line-height: 150%;
	border-top: 3px solid #ff7300;
	margin: 10px auto;
	padding-top: 7px;
	font-size: 12px;
	text-align: center;
	padding-bottom: 10px;
	overflow: hidden;
}

.mt_0 {
	margin-top: 0px;
}

.footerBox a:link {
	color: #003278;
	text-decoration: none;
}

.footerBox a:visited {
	color: #003278;
	text-decoration: none;
}

.footerBox a:hover {
	color: #FF6600;
	text-decoration: underline;
}

.footer {
	width: 952px;
	margin: 0px auto;
	overflow: hidden;
}

.footer ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
	clear: both;
	float: left;
	width: 100%;
	text-align: center;
	margin: 3px auto;
}

.footer li {
	display: inline;
	border-right: 1px solid #666;
	padding: 0px 8px 0px 4px !important; >
	padding: 0px 4px 0px 9px !important;
	padding: 0px 4px 0px 9px;
	font-family: Arial, Helvetica, sans-serif
}

.footer li.sli {
	padding: 0px 1px;
}

.footer li.sli2 {
	padding: 0px 4px 0px 1px;
}

.footer .no_border {
	border: 0px;
}

.footBox {
	text-align: center;
	width: 952px;
	margin: 0px auto;
}

.foot_corp {
	clear: both;
	width: 515px;
	margin: 10px auto;
	font-size: 12px;
}

.foot_corp img {
	border: 0px;
}

.foot_corp span {
	float: left;
	margin: 0px 5px;
}

.foot_corp span.img_pd {
	padding-top: 15px;
}

#copyright2 {
	position: relative;
	width: 952px;
	height: 66px;
	margin: 0 auto;
	background-image: url("../image/bottom-bg_1242799870583.png");
}

#copyright2 a {
	position: absolute;
	display: block;
}

#copyright2 .ft-b1 {
	top: 10px;
	left: 105px;
	width: 40px;
	height: 50px;
	text-indent: -9999px;
	line-height: 0;
}

#copyright2 .ft-b2 {
	top: 10px;
	left: 170px;
	width: 50px;
	height: 60px;
	text-indent: -9999px;
	line-height: 0;
}

#copyright2 .ft-b3 {
	top: 20px;
	left: 236px;
	width: 132px;
	height: 32px;
	line-height: 16px;
	word-break: break-all;
	overflow: hidden;
	text-align: center;
}

#copyright2 .ft-b4 {
	top: 20px;
	left: 383px;
	width: 156px;
	height: 32px;
	line-height: 16px;
	word-break: break-all;
	overflow: hidden;
	text-align: center;
}

#copyright2 .ft-b5 {
	position: absolute;
	display: block;
	top: 20px;
	left: 554px;
	width: 156px;
	height: 32px;
	line-height: 16px;
	word-break: break-all;
	overflow: hidden;
	text-align: center;
	color: #0048A2;
}

#copyright2 .ft-b6 {
	top: 10px;
	left: 725px;
	width: 114px;
	height: 50px;
	text-indent: -9999px;
	line-height: 0;
}

#copyright2 .ft-b7 {
	top: 10px;
	left: 848px;
	width: 50px;
	height: 50px;
	text-indent: -9999px;
	line-height: 0;
}

.new-icon {
	BACKGROUND-IMAGE: url("../images/ali_header.gif");
	BACKGROUND-REPEAT: no-repeat
}

.new-icon {
	BACKGROUND-POSITION: right -200px;
	MARGIN-RIGHT: 5px
}

.hot-icon {
	BACKGROUND-IMAGE: url("../images/ali_header.gif");
	BACKGROUND-REPEAT: no-repeat
}

.hot-icon {
	BACKGROUND-POSITION: right -170px;
	MARGIN-RIGHT: 5px
}