@charset "utf-8";
/*TitleBar-background*/
.gTitleBar,.gTitleBar h3,.tNewsBox,.tNewsBox dl dt,.box280 dl dt,.cTitleBar{background:url(../images/news/news-img.gif) no-repeat; overflow:hidden;}
/*TitleBar*/
.gTitleBar{ background-position:right top; width:100%; height:28px; margin-top:10px;}
.gTitleBar h3{ float:left; background-position: left top; white-space:nowrap; padding:0 0 0 22px; font-size:14px; color:#555; line-height:28px; margin:0;}
.gTitleBar span.more{ float:right; padding-right:10px; line-height:28px;}
.cTitleBar{ background-position:right -85px; height:26px; margin:10px 0; border:1px solid #DEDEDE}
.cTitleBar h3{ float:left; background-position: left top; white-space:nowrap; padding:0 0 0 18px; font-size:14px; color:#222; line-height:26px; margin:0;}
.cTitleBar span.more{ float:right; padding-right:10px; line-height:26px;}
.boxLine{ border:1px solid #DFDFDF; margin-top:10px;}
.newL280{ float:left; width:250px; border-right:1px solid #DFDFDF; padding:10px 14px;}
.newL280 h3{ border-top:1px solid #CCC; font-size:14px; line-height:24px; padding:3px; margin:0;}
.newLimg{ color:#666; line-height:18px;}
.newLimg img{ float:left; border:1px solid #CCC; padding:1px; margin-right:5px; display:inline;}
.newLimg b{ line-height:24px;}
.tNewsBox{ float:left; background-position:left -114px; width:360px; padding-left:10px;}
.tNewsBox span.todayNews{ padding-left:50px; height:48px; line-height:48px; font-size:14px;}
.tNewsBox dl{ padding:0; margin:0; list-style-type:none;}
.tNewsBox dl dt{float:left; font-size:14px; width:79px; height:28px; line-height:28px; text-align:center; margin:0; padding:0; color:#3F3F3F}
.tNewsBox dl dt.menu1{ background-position:left -29px; font-weight:bold;}
.tNewsBox dl dt.menu2{ background-position:-82px -29px; cursor:pointer;}
.tNewsBox dl dd{ margin:0; padding:10px 0 0 0; clear:left}
.tNewsBox dl dd .title_h4{ background-color:#ECF2FE; border:1px solid #ccc; padding:5px 10px;}
.tNewsBox dl dd .title_h4 h4{ margin:0; padding:0; line-height:26px; font-size:16px; font-family:黑体; font-weight:normal;}
.tNewsBox dl dd ul{
	height:auto;
	padding:10px 0;}
.tNewsBox dl dd ul li,.box370 li{
	line-height:24px;
	font-size:14px;
	height:24px;
	padding-left:20px;
	overflow:hidden;
	background:url(../images/news/icon-n.gif) no-repeat 12px 9px;}	
.tNewsBox dl dd ul li span,.box370 li span{
	color:#999999;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	padding-left:5px;}

.box280{ float:left; width:278px; background-color:#F7F7F7; border:1px solid #CCC; border-top:0; overflow:hidden; margin-top:10px;}
.box280 dl{ padding:0; margin:0; list-style-type:none;}
.box280 dl dt{ background-position:left -57px; height:27px; margin:0; padding:0; color:#333; border-top:1px solid #CCC;}
.box280 dl dt span{ float:left; font-size:14px; height:27px; line-height:27px; width:75px; text-align:center;}
.box280 dl dt span.dt_menu1{ background-color:#F7F7F7;border-right:1px solid #CCC;}
.box280 dl dt span.dt_menu2{ cursor:pointer;}
.box280 dl dd{ margin:0; padding:10px 10px 0 10px;}
.box280 dl dt .more{ float:right; line-height:27px; font-size:12px; padding-right:10px;}
.box280 div.ad{ text-align:center; margin-bottom:10px;}
.box370{ float:left; width:370px; margin-left:10px; display:inline;}
.left660{ float:left; width:660px;}
.right290{ float:right; width:290px;}
/*background*/
.news_listTitleBar,.meetingLTitleBar,.meetingLTitleBar h3,.content_lmt,.content_lmt span{ background:url(../images/news/pimg.gif) no-repeat; overflow:hidden;}
.news_listTitleBar{ background-color:#fff; background-position:left -234px; height:45px; padding-left:30px;}
.news_listTitleBar h3{ float:left; padding:10px 0 0 0; margin:0; font-size:14px; color:#FA4E02;}
.newsList{ padding:5px 0;}
.newsList li{ background:url(../images/news/icon-n.gif) no-repeat 12px 9px; height:24px; line-height:24px; padding-left:20px; overflow:hidden}
.newsList li span{ color:#555}
.newsList0{ padding:5px 0; margin:0 10px; border-top:1px solid #eee;}
.newsList0 li{height:22px; line-height:22px; overflow:hidden}
.newsList0 li span{ color:#555}
.news_list{padding:10px 15px;}
.news_list ul{
	height:auto;
	padding-left:20px;
	margin-bottom:20px;}
.news_list ul li{
	line-height:26px;
	font-size:14px;
	padding-left:20px;
	overflow:hidden;
	background:url(../images/news/icon-n.gif) no-repeat 12px 9px;}	
.news_list ul li span{
	color:#999999;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	padding-left:5px;}
	
.otherNews_list ul{
	height:auto;
	padding-left:20px;
	margin:20px 0;
	*padding-bottom:20px;}
.otherNews_list ul li{
	float:left;
	width:45%;
	line-height:26px;
	font-size:14px;
	padding-left:10px;
	overflow:hidden;
	background:url(../images/news/icon-n.gif) no-repeat 2px 9px;}
.newRimg{ color:#666; line-height:18px; padding:10px;}
.newRimg img{ float:left; border:1px solid #CCC; padding:1px; margin-right:8px; display:inline;}
.newRimg b{ line-height:26px; font-size:14px; font-weight:normal; display:block; padding-left:2em; overflow:hidden;}
.newRimg ul{ float:left; width:160px; line-height:22px; padding:5px 0;}
.newRimg ul li{ background:url(../images/news/icon-n.gif) no-repeat 5px 9px; height:22px; line-height:22px; padding-left:12px; overflow:hidden}
.softBooks{ background-position:-573px -243px;}
.softBooks ul{ float:left; width:105px; padding:0 10px 0 25px; margin:70px 0 12px 0;}
.softBooks ul li{ line-height:24px;background:url(../images/news/icon-jt.gif) no-repeat left 7px; padding-left:12px;}
.softBooks .booksimg{ margin-bottom:5px;}
/*page*/
.page{text-align:center; font-size:16px; font-weight:bold; line-height:32px; height:32px; padding:20px 0;border-top:1px dashed #ccc; margin-top:10px;}
.page a{ padding:0 3px;}
.page A:link,.page A:visited{
     color:#222; 
	 font-size:16px;
	 text-decoration:none;
	 }
.page A:hover{ 
	 color:#FF8000;  
	 text-decoration: underline;
	 }
	 
 A.page_button:link,A.page_button:visited{
     color:#FFF; 
	 font-size:16px;
	 background-color:#FF7300;
	 padding:2px 2px;
	 text-decoration:none;
	 }
A.page_button:hover{ 
	 color:#fff;  
	 text-decoration: underline;
	 }

a.pageDown{ background:url(../images/news/pagedown.gif) no-repeat right center; padding-right:12px; margin-right:5px;}
a.pageUp{ background:url(../images/news/pageup.gif) no-repeat left center; padding-left:12px; margin-left:5px;}
/*content*/
.content_lmt{ background-position:right -287px; height:30px;}
.content_lmt span{float:left; background-position:left -287px; padding:10px 0 0 30px; margin:0; height:20px; font-size:14px; color:#FA4E02; font-weight:bold}

.content{ padding:0 10px 10px 10px}
.content h3.newstitle{ line-height: 36px;
	height:36px;
	font-size: 26px;
	text-align: center; margin:10px 0 0 0; padding:0}
.content div.time{ padding:10px 0; color:#666; text-align:center; border-bottom:3px solid #C2C2C2}
.content div.time span{ padding:0 5px;}
.content p{ padding:0; line-height:210%; font-size:14px; text-indent:2em;}
.content .text_pint{ padding:20px 10px; text-align:right;}
.box-gray{ background-color:#fff; padding:1px 0; border:1px solid #ccc; border-top:0;}
.box-gray1{ background-color:#fff; padding:1px 0; border:1px solid #ccc;}
.box-white{ background-color:#fff;}