@charset "utf-8";
/*left*/
#left740{float:left;width:740px; margin-top:10px;}
#right210{float:right;width:210px;margin-top:10px;}
.meetingYellowBox{ background:#FFCB99; padding:1px;}
.meetingWhiteBox{ background:#FFF url(../images/yellowbg1.gif) repeat-x top;}
/*background*/
.meetingTitleBar,.meetingLTitleBar,.meetingLTitleBar h3,.content_lmt,.content_lmt span{ background:url(../images/pimg.gif) no-repeat; overflow:hidden;}
.meetingTitleBar{ background-color:#fff; background-position:left -234px; height:45px; padding-left:30px;}
.meetingTitleBar h3{ float:left; padding:10px 0 0 0; margin:0; font-size:14px; color:#FA4E02;}
/*meetingLeftTitleBar*/
.meetingLTitleBar{ background-position:right -131px; height:27px; margin-top:10px; padding-right:10px; border-bottom:1px solid #E40A09}
.meetingLTitleBar h3{ float:left; background-position:-660px -131px; padding:0 0 0 12px; margin:0; font-size:14px; color:#fff; line-height:27px;}
.meetingLTitleBar span.more{ float:right; line-height:27px;}
.meetingWhiteBox h3{ margin:0; padding:0 0 0 12px; font-size:14px; color:#FF6500; line-height:30px;}
/*meetinglist*/
.meetingtable{ padding:10px 15px;}
.meetingtable td{ padding:2px 0; line-height:22px;}
.meetingtable th{ text-align:left; padding-left:5px; font-size:14px; line-height:36px;}
.meetingtable tr.bg{ background-color:#F5F5F5}
.meetingtable tr.bg1{ background-color:#fff}
.meetingtable td{ padding-left:5px; line-height:30px;}
.meetingtable font.red{ font-size:12px; font-family:宋体;}
.meetinghot{ padding:10px}
.meetinghot li{ border-bottom:1px dashed #ddd; padding:10px 0; color:#333; height:50px;}
.meetinghot img{ float:left; margin-right:6px; display:inline; width:60px; height:50px;}
.meetingnewsList{ padding:10px 0;}
.meetingnewsList li{ background:url(../images/icon-n.gif) no-repeat 12px 9px; height:24px; line-height:24px; padding-left:20px; overflow:hidden}
.meetingnewsList li span{ color:#555}
.meetingimgList li{ float:left; width:50%; text-align:center; padding:3px 0; margin:0;}
/*content style*/
.content_lmt{ background-position:right -287px; height:30px; clear:both}
.content_lmt span{float:left; background-position:left -287px; padding:10px 0 0 30px; margin:0; height:20px; font-size:14px; color:#FA4E02; font-weight:bold}
h3.meeting_bt{
	line-height: 36px;
	height:36px;
	font-size: 22px;
	text-align: center;
	font-family:黑体;
}
.meeting_content_table{
	float: left;
	color: #333;
	line-height: 26px;
	font-size:12px;
	padding:1px;
}
.meeting_content_table .td_bg{ background-color:#F7F7F7; font-size:13px; text-align:right; vertical-align:top}
.pint{
	margin-top:3px;
	border-top:1px solid #ccc;
	padding-top:10px;
	line-height: 36px;
	font-size:14px;
	color: #555;
	text-align: center;
}
.pint input{ font-size:14px;}
/*page*/
.page{text-align:center; font-size:16px; font-weight:bold; line-height:32px; height:32px; padding:20px 0;border-top:1px dashed #ccc; margin-top:10px;}
.page a{ padding:0 3px;}
.page A:link,.page A:visited{
     color:#222; 
	 font-size:16px;
	 text-decoration:none;
	 }
.page A:hover{ 
	 color:#FF8000;  
	 text-decoration: underline;
	 }
	 
 A.page_button:link,A.page_button:visited{
     color:#FFF; 
	 font-size:16px;
	 background-color:#FF7300;
	 padding:2px 2px;
	 text-decoration:none;
	 }
A.page_button:hover{ 
	 color:#fff;  
	 text-decoration: underline;
	 }


.jcontact_body {padding:10px;}
.jcontact_body li {line-height:24px;height:24px;overflow:hidden;border-bottom:#E2E2E2 1px solid;}
.jcontact_body li span {display:block;width:50px;float:left;color:#1B4C7A;padding:0 0 0 12px;}