		{loop $tags $k $t}
                    <tr class="bg" id="jobs<?php echo $k+1;$k++?>">
					<td><a href="{$t[linkurl]}" target="_blank" title="{$t[alt]}">{$t[title]}</a> {area_pos($t[areaid], '')}</td>
					<td>
{if $t[minsalary] && $t[maxsalary]}
			{$t[minsalary]}-{$t[maxsalary]}元/月
		{elseif $t[minsalary]}
			{$t[minsalary]}元/月以上
		{elseif $t[maxsalary]}
			{$t[maxsalary]}元/月以内
		{else}
			面议
		{/if}                    </td>
					<td><a href="{userurl($t[username])}" target="_blank">{$t[company]}</a> {if $t[vip]} <img src="{SKIN_PATH}image/vip.gif"/>{/if}</td>
					<td>{timetodate($t[edittime], $datetype)}</td>
					</tr> 
		{/loop}
{if $showpage && $pages}<div class="pages">{$pages}</div>{/if}