{template 'header'}
<link rel="stylesheet" type="text/css" href="{SKIN_PATH}css/exhibit.css"/>
<div id="main">
	<div class="path">您当前位置：<a href="{DT_PATH}">首页</a> >  <a href="{$MOD[linkurl]}">{$MOD[name]}</a> > {cat_pos($catid, ' &raquo; ')} > 信息详细页</div>
	<div style="clear:both"></div>
	<div id="left740">
		<div class="box-grayn">
			<div class="meetingtable">
				<h3 class="meeting_bt">{$title}</h3>
		<div class="info"><span class="f_r"><img src="{SKIN_PATH}image/zoomin.gif" width="16" height="16" alt="放大字体" class="c_p" onclick="fontZoom('+');"/>&nbsp;&nbsp;<img src="{SKIN_PATH}image/zoomout.gif" width="16" height="16"  alt="缩小字体" class="c_p" onclick="fontZoom('-');"/></span>
		发布日期：{$adddate}
		&nbsp;&nbsp;浏览次数：<span id="hits">{$hits}</span>
		&nbsp;&nbsp;状态：<img src="{SKIN_PATH}image/exh_p{$process}.gif" id="process" alt="状态" align="absmiddle"/>
		</div>
<div class="b10">&nbsp;</div>

				<div class="content_lmt"><span>基本信息</span></div>
			 <table width="100%" border="0" cellspacing="2" cellpadding="2" align="center" class="meeting_content_table">
				  <tr>
					<td width="17%" class="td_bg">展会日期：</td>
					<td width="88%">{$fromtime} 至 {$totime}</td>
				  </tr>
				  <tr>
					<td class="td_bg">展出城市：</td>
					<td>{$city}</td>
				  </tr>
				  <tr>
					<td class="td_bg">展出地址：</td>
					<td>{$address}</td>  
				</tr>
				<tr>
					<td class="td_bg">展馆名称：</td>
					<td>{$hallname}</td>
				</tr>
				<tr>
					<td class="td_bg">主办单位：</td>
					<td>{$sponsor}</td>
				</tr>
			{if $undertaker}
				<tr>
					<td class="td_bg">承办单位：</td>
					<td>{$undertaker}</td>
				</tr>
			{/if}
			</table>
			
			<div class="content_lmt"><span>展会说明</span></div>
			<table width="100%" border="0" cellspacing="2" cellpadding="2" align="center" class="meeting_content_table">
				  <tr>
					<td width="17%" class="td_bg">介 绍：</td>
					<td width="88%"><div id="content">{template 'content', 'chip'}</div></td>
				  </tr>
			</table>

			{if $remark}
			<div class="content_lmt"><span>展会备注</span></div>
			<table width="100%" border="0" cellspacing="2" cellpadding="2" align="center" class="meeting_content_table">
				  <tr>
					<td width="17%" class="td_bg">介 绍：</td>
					<td width="88%"><div class="content">{nl2br($remark)}</div></td>
				  </tr>
			</table>
			{/if}
        <div class="b10">&nbsp;</div>
		<div class="clear"></div>
		<form method="post" action="{$MODULE[2][linkurl]}sendmail.php" name="sendmail" id="sendmail" target="_blank">
		<input type="hidden" name="itemid" value="{$itemid}"/> 
		<input type="hidden" name="title" value="{$title}"/>
		<input type="hidden" name="linkurl" value="{$linkurl}"/>
		</form>
		<center>
		[ <a href="{$MOD[linkurl]}search.php">{$MOD[name]}搜索</a> ]&nbsp;
		[ <script type="text/javascript">addFav('加入收藏');</script> ]&nbsp;
		[ <a href="javascript:$('sendmail').submit();void(0);">告诉好友</a> ]&nbsp;
		[ <a href="javascript:Print();">打印本文</a> ]&nbsp;
		[ <a href="javascript:window.close()">关闭窗口</a> ]&nbsp;
		[ <a href="javascript:window.scrollTo(0,0);">返回顶部</a> ]
		</center>
		<br/>
		{template 'comment', 'chip'}
		<div style="clear:both"></div>
		
	</div>
	</div>
		
	</div>
	<!--LEFT END-->


	
	<div id="right210">
		<div class="meetingGreenBox">
			<h3>按分类浏览</h3>

		<table width="100%" cellpadding="3">
		{loop $maincat $k $v}
		{if $k%2==0}<tr>{/if}
		<td><a href="{$MOD[linkurl]}{$v[linkurl]}">{$v[catname]}</a> <span class="f_gray px10">({$ITEMS[$v[catid]]})</span></td>
		{if $k%2==1}</tr>{/if}
		{/loop}
		</table>
		</div>

		
		
		<div class="box-grayn mt10" style="border:1px solid #CCC">
			<div class="meetingLTitleBar"><h3>最新{$MOD[name]}</h3>
			<span class="more"></span>
			</div>
			<ul class="meetingnewsList"style="border-top:1px solid #CCC" >

				<!--{tag("moduleid=$moduleid&condition=status=3&order=".$MOD[order]."&pagesize=10")}-->

			</ul>
			<div class="clear"></div>
		</div>
		<!--展会知识 END-->
		
		
	</div>
	<!--RIGHT END-->

	

</div>
<div class="clear"></div>

<!--main end-->

{template 'zoom', 'chip'}
{template 'footer'}